<div class="navitagorDiv" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Header -->
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="wrap-logo">
                        <a class="tab-pane__title" style="width: 20cm;margin-top: 20px" th:text="${smalltitle}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wsmenucontent overlapblackbg"></div>
    <div class="wsmenuexpandermain slideRight">
        <a id="navToggle" class="animated-arrow slideLeft">
            <span></span>
        </a>
    </div>
    <div class="header_down">
        <div class="container">
            <div class="wrapper clearfix bigmegamenu">
                <nav class="wsmenu slideLeft clearfix">
                    <ul class="mobile-sub wsmenu-list">
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="home">首页</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="forebooks">借书</a>
                        </li>
                        <li>
                            <span class="wsmenu-click"></span>
                            <a href="forenews">新闻</a>
                        </li>
                        <li th:if="${null!=user}">
                            <span class="wsmenu-click"></span>
                            <a href="#nowhere">个人中心
                                <span class="arrow"></span>
                            </a>
                            <ul class="wsmenu-submenu">
                                <li>
                                    <a href="bought">我的订单</a>
                                </li>
                                <li>
                                    <a href="profile">修改信息</a></li>
                                <li>
                                    <a href="password">修改密码</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <span th:if="${null!=user}" style="font-size: medium;">
			<a th:text="${user.name}" style="margin-left: 500px;"></a>
			<a href="logout">退出</a>
		</span>
        <span th:if="${null==user}" style="font-size: medium;">
            <a href="login">登录/注册</a>
        </span>
    </div>
</div>
