<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html('首页')" ></head>

<body>
<div th:replace="include/fore/navigator::html" ></div>

<div id="workingArea">

    <div class="container">
        <div class="row header_news_panel">
            <div class="col-sm-4 news-tabs">
                <p class="news-tabs__title h2">最新新闻</p>
                <ul class="news-tabs__nav nav nav-tabs shadow_text" role="tablist">

                    <li th:each="bean,state : ${beans}" role="presentation">
                        <a th:href="'/news?id='+${bean.id}" role="tab" data-toggle="tab">
                            <span class="time" th:text="${bean.title}"></span>
                            <span th:text="${bean.timeDesc}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END Nav tabs -->
        </div>
    </div>
</div>

</body>
</html>